#recents{
  color:blueviolet;
}

#searched {
color: red;
}

.jumbotron {
  background-image: url("dFjcP0.jpg");

}


#header {
color: #EEE8AA;
font-family: 'Arima Madurai', cursive;
}

body {
background-image: url("clouds.jpg");


}