<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>Global Weather</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/app/styles/styles.css">
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
</head>
<div id="recents">

  <body ng-controller="WeatherController as weatherCtrl">
    <div class="container">
      <!-- JumboHeader -->
      <div class="jumbotron">
        <h1 id="header"> Current Weather </h1>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter City Name" ng-model="weatherCtrl.citySelect">
            <button type="submit" class="btn btn-primary" ng-click="weatherCtrl.citySearch(weatherCtrl.citySelect)">Find Weather</button>
        </form>
        </div>
      </div>
<!-- Populates Recent Searches/Buttons -->
      <div class="btn-group">
        <button type="button" class="btn btn-info" ng-click="weatherCtrl.citySearch(weatherCtrl.CitiesSearched[weatherCtrl.CitiesSearched.length - 2])">{{weatherCtrl.CitiesSearched[weatherCtrl.CitiesSearched.length-2]}}</button>
        <button type="button" class="btn btn-info" ng-click="weatherCtrl.citySearch(weatherCtrl.CitiesSearched[weatherCtrl.CitiesSearched.length - 3])">{{weatherCtrl.CitiesSearched[weatherCtrl.CitiesSearched.length-3]}}</button>
        <button type="button" class="btn btn-info" ng-click="weatherCtrl.citySearch(weatherCtrl.CitiesSearched[weatherCtrl.CitiesSearched.length - 4])">{{weatherCtrl.CitiesSearched[weatherCtrl.CitiesSearched.length-4]}}</button>
      </div>
<!-- Outputs Weather Conditions -->
      <div="searched">
        <div class="panel panel-info">
          <div class="panel-heading">

            <h3 class="panel-title">Current Weather in {{weatherCtrl.weather.Name}}</h3>
          </div>
          <div class="panel-body">
            <p>Temperature: {{weatherCtrl.weather.Temperature}} degrees</p>
            <p>Humidity: {{weatherCtrl.weather.Humidity}}%</p>
            <p> High Temperature: {{weatherCtrl.weather.HighTemp}} degrees</p>
            <p>Low Temperature: {{weatherCtrl.weather.LowTemp}} degrees</p>
            <p>Pressure: {{weatherCtrl.weather.Pressure}}</p>
            <p>Wind Speed: {{weatherCtrl.weather.WindSpeed}}mph</p>
          </div>
        </div>
    </div>
    <!-- Recent Searches w/ Buggy Time Stamp -->
    <div id="recents">
      <div class="panel panel-default">
        <div class="panel-heading">Recent Searches</div>
        <div class="panel-body">
          <ul style="list-style: none">
          <li class="list" ng-repeat="searched in weatherCtrl.CitiesSearched" ng-bind-template="{{::weatherCtrl.weather.Name}} {{::weatherCtrl.date| date:'short'}}">
        
            </li>
          </ul>
        </div>
      </div>
    </div>



</div>


<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/app/app.js"></script>
<!-- endinject -->
<script src="/app/weather/weather.controller.js"></script>
<script src="/app/CityFactory/city.factory.js"></script>
</body>

</html>