<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>Global Weather</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/app/styles/styles.css">
  <!-- endinject -->
</head>
<div id="recents">

  <body ng-controller="WeatherController as weatherCtrl">
    <div class="container">
      <div class="jumbotron">
        <h1> Current Weather</h1>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter City Name" ng-model="weatherCtrl.citySelect">
            <button type="submit" class="btn btn-primary" ng-click="weatherCtrl.citySearch(weatherCtrl.citySelect)">Find Weather</button>
        </form>
        </div>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-info">Recent City #1</button>
        <button type="button" class="btn btn-info">Recent City #2</button>
        <button type="button" class="btn btn-info">Recent City #3</button>
      </div>


    </div>
<div id= "recents">
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <h3 class="panel-title">Recent Searches</h3>
  <div class="panel-body">
   "Recent Searches"
  </div>
</div>
</div>

<div= "searched">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Current Weather</h3>
  </div>
  <div class="panel-body">
    "Details"
  </div>
</div>
</div>


    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="/app/app.js"></script>
    <script src="/app/weather/weather.controller.js"></script>
    <script src="/app/CityFactory/city.factory.js"></script>
    <!-- endinject -->

  </body>

</html>

<!--
    <script src="/app/weather/weather.controller.js"></script>
    <script src="/app/CityFactory/city.factory.js"></script>-->